{% extends 'layout.html.twig' %}
{% block title %}Nuevo premio{% endblock %}
{% block section %}
    <h1 class="titulosection3">No tienes suficientes puntos.</h1>
    <br>
    <a class="enlacesaside" href="{{ path('premios')}}">volver</a>
{% endblock %}