{% extends 'layout.html.twig' %}
{% block title %}login{% endblock %}
{% block section %}
    <h1 class="titulosection3">Login</h1>
    {% if error %}
        <div>{{ error.messageKey }}</div>
    {% endif %}
    <form action="{{path('login')}}" method="post">
        <label for="username">Usuario:</label>
        <input type="text" id="username" pattern="[0-9]{8}[A-Za-z]{1}" name="_username" value="{{lastUsername}}"/>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="_password"/>
        <br><br>
        <button type="submit">Entrar</button>
        <br>
        
    </form>
    
{% endblock %}